@font-face {
  font-family: "iconfont";
  /* Project id 2453751 */
  src: url('//at.alicdn.com/t/font_2453751_sfcbjweqea.woff2?t=1619771410318') format('woff2'),
    url('//at.alicdn.com/t/font_2453751_sfcbjweqea.woff?t=1619771410318') format('woff'),
    url('//at.alicdn.com/t/font_2453751_sfcbjweqea.ttf?t=1619771410318') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e60e";
}

.icon-icon3:before {
  content: "\e603";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-more:before {
  content: "\e60d";
}

.icon-zuojiantou3:before {
  content: "\e639";
}

.icon-youjiantou1:before {
  content: "\e638";
}

.icon-search:before {
  content: "\e615";
}

.icon-cart-Empty:before {
  content: "\e747";
}